@use "/assets/styles/config" as *;
@use "/assets/styles/layout/text" as *;

.b-toggles{
    &__item{
      &-cta{
        background: $c-theme-alt; padding: $space-l; padding-right: $space-section; position: relative; display: block;
        @extend %text-hero; font-weight: 500; cursor: pointer; width: 100%; text-align: left;
      }
      &-content{
        background: $c-theme; color: $c-white; padding: $space-l; display: none;
      }
    }
}