<burger inline-template>
   <button class="p-burger" @click="toggleVisibility">
      <span class="p-burger__link">{{ 'Menu'|t }}</span>
      <span class="p-burger__icon"><i></i></span>
   </button>
</burger>
