:root{
  @media #{$to-phone} {
    --space-section: 6rem;
    --header-h: 71px;
  }
}

.desktop {
  --app-height: 100vh!important;
  --app-init-height: 100vh!important;
}

.admin-bar{
  --admin-h: 32px;
  @media #{$to-phone} {
    --admin-h: 46px
  }
}