@use "sass:math";

@forward "/assets/styles/libs/functions";
@forward "/assets/styles/libs/mixins";


// Theme
$color-background : #FFF;
$color-theme : #001733;
$color-theme-alt : #F2F0F0;

// Colors
$c-text: var(--c-text);
$c-theme: var(--c-theme);
$c-theme-alt: var(--c-theme-alt);
$c-background: var(--c-background);
$c-black: var(--c-black);
$c-white: var(--c-white);
$c-border: var(--c-border);
$c-border-input: var(--c-border-input);
$c-placeholder-color: var(--c-placeholder-color);
$c-transparent: var(--c-transparent);
$c-image-placeholder: rgba(0,0,0,0.05);


// Sizes
$app-h : var(--app-height);
$app-init-h : var(--app-init-height);
$header-h : var(--header-h);
$admin-h : var(--admin-h);
$footer-h : var(--footer-h);
$border-radius: 1px;

$space: 2rem;
$space-xxs: 5px;
$space-xs: 8px;
$space-s: 10px;
$space-m: 3rem;
$space-l: 4rem;
$space-xl: var(--space-xl);
$space-xxl: var(--space-xxl);
$space-xxxl: var(--space-xxxl);
$space-section: var(--space-section);
$padding-section: var(--padding-section);


// Selector
$inputs :
'input[type="text"], input[type="tel"], input[type="email"], input[type="password"],'+
'input[type="number"], input[type="url"], input[type="search"], textarea';


// Fonts - please use https://transfonter.org, no Autohint, WOFF and WOFF2 formats only
// OR https://webfont.yabe.land/en/misc/convert-ttf-woff2/ for variable fonts

// Name            Variant    Weight     Style    Stretch   Fallback   Version
$fonts :
fontello           regular     400       normal   normal    sans-serif     1,
inter	           regular     400       normal   normal    sans-serif     1;


$font-title: var(--font-title);
$font-text: var(--font-text);


$font-xxs: 10px;
$font-xs: 12px;
$font-s: 14px;
$font-m: 1.6rem;
$font-ml: 2rem;
$font-l: 2.4rem;
$font-ll: 3.8rem;
$font-xl: 4.8rem;
$font-xxl: 5.8rem;
$font-xxxl: 8rem;

// Icons

$icons:
facebook '\e800',
instagram '\e801',
linkedin '\e802',
twitter '\e803',
plus '\e804',
minus '\e805',
leaves '\e806',
play '\e807',
world '\e808',
eye '\e809',
arrow '\e80a',
magnifier '\e80b',
person '\e80c',
download '\e80d',
play-circled '\e80e',
messages '\e80f',
close '\e810',
arrow-alt '\e820',
phone '\e822',
person2 '\e823',
more '\e815',
world2 '\e825';

// Grid

$grid-container-max: 1920px;
$grid-container-w: var(--grid-container-w);
$grid-size: 122rem;
$grid-columns: 12;
$grid-gap: var(--grid-gap);

// Animations

$animation-duration     : 0.6s;
$animation-offset       : 100%;
$animation-offset-rem   : 4rem;
$animation-delay        : math.div($animation-duration,10);
$animation-delay-values : 35;
$animation-reveal-color : #eee;

// Transitions

$transition-duration : 0.3s;
$transition-delay : math.div($transition-duration,6);

$speed-very-fast : math.div($transition-duration,2);
$speed-fast      : $transition-duration;
$speed-slow      : $transition-duration*2;
$speed-very-slow : $transition-duration*4;

// Easing

$linear            : cubic-bezier(0.250, 0.250, 0.750, 0.750);
$ease-soft         : cubic-bezier(.104,.204,.492,1);
$ease-in           : cubic-bezier(0.420, 0.000, 1.000, 1.000);
$ease-out          : cubic-bezier(0.000, 0.000, 0.580, 1.000);
$ease-in-out       : cubic-bezier(0.420, 0.000, 0.580, 1.000);
$ease-in-out-expo  : cubic-bezier(0.19, 1, 0.22, 1);

$ease-in-quad      : cubic-bezier(0.550, 0.085, 0.680, 0.530);
$ease-in-cubic     : cubic-bezier(0.550, 0.055, 0.675, 0.190);
$ease-in-quart     : cubic-bezier(0.895, 0.030, 0.685, 0.220);
$ease-in-quint     : cubic-bezier(0.755, 0.050, 0.855, 0.060);
$ease-in-sine      : cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-in-expo      : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$ease-in-circ      : cubic-bezier(0.600, 0.040, 0.980, 0.335);
$ease-in-back      : cubic-bezier(0.600, -0.280, 0.735, 0.045);

$ease-out-quad     : cubic-bezier(0.250, 0.460, 0.450, 0.940);
$ease-out-cubic    : cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-out-quart    : cubic-bezier(0.165, 0.840, 0.440, 1.000);
$ease-out-quint    : cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-out-sine     : cubic-bezier(0.390, 0.575, 0.565, 1.000);
$ease-out-expo     : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$ease-out-circ     : cubic-bezier(0.075, 0.820, 0.165, 1.000);
$ease-out-back     : cubic-bezier(0.175, 0.885, 0.320, 1.275);

$ease-in-out-quad  : cubic-bezier(0.455, 0.030, 0.515, 0.955);
$ease-in-out-cubic : cubic-bezier(0.645, 0.045, 0.355, 1.000);
$ease-in-out-quart : cubic-bezier(0.770, 0.000, 0.175, 1.000);
$ease-in-out-quint : cubic-bezier(0.860, 0.000, 0.070, 1.000);
$ease-in-out-sine  : cubic-bezier(0.445, 0.050, 0.550, 0.950);
$ease-in-out-expo  : cubic-bezier(1.000, 0.000, 0.000, 1.000);
$ease-in-out-circ  : cubic-bezier(0.785, 0.135, 0.150, 0.860);
$ease-in-out-back  : cubic-bezier(0.680, -0.550, 0.265, 1.550);

$easings : in $ease-in, out $ease-out, in-out $ease-in-out, in-quad $ease-in-quad, in-cubic $ease-in-cubic, in-quart $ease-in-quart, in-quint $ease-in-quint, in-sine $ease-in-sine, in-expo $ease-in-expo, in-circ $ease-in-circ, in-back $ease-in-back, out-quad $ease-out-quad, out-cubic $ease-out-cubic, out-quart $ease-out-quart, out-quint $ease-out-quint, out-sine $ease-out-sine, out-expo $ease-out-expo, out-circ $ease-out-circ, out-back $ease-out-back, in-out-quad $ease-in-out-quad, in-out-cubic $ease-in-out-cubic, in-out-quart $ease-in-out-quart, in-out-quint $ease-in-out-quint, in-out-sine $ease-in-out-sine, in-out-expo $ease-in-out-expo, in-out-circ $ease-in-out-circ, in-out-back $ease-in-out-back;

// Media queries

// Default Screen sizes, following Chrome devtools specification
$media                  : 'screen' !default;

$screen-phone           : 480px !default;
$screen-phone-m         : 375px !default;
$screen-phone-s         : 320px !default;
$screen-tablet          : 980px !default;
$screen-small           : 1280px !default;
$screen-large           : 1440px !default;
$screen-4k              : 1920px !default;

// From [value] to infinity
$from-4k               : $media+" and (min-width: "+($screen-4k)+")";
$from-large            : $media+" and (min-width: "+($screen-large)+")";
$from-small            : $media+" and (min-width: "+($screen-small)+")";
$from-tablet           : $media+" and (min-width: "+($screen-tablet)+")";
$from-phone            : $media+" and (min-width: "+($screen-phone)+")";
$from-phone-m          : $media+" and (min-width: "+($screen-phone-m)+")";
$from-phone-s          : $media+" and (min-width: "+($screen-phone-s)+")";

// From 0 to [value]
$to-large              : $media+" and (max-width: "+($screen-large)+")";
$to-small              : $media+" and (max-width: "+($screen-small)+")";
$to-tablet             : $media+" and (max-width: "+($screen-tablet)+")";
$to-phone              : $media+" and (max-width: "+($screen-phone)+")";
$to-phone-m            : $media+" and (max-width: "+($screen-phone-m)+")";
$to-phone-s            : $media+" and (max-width: "+($screen-phone-s)+")";

// [value] only
$only-4k               : $from-4k;
$only-large            : $media+" and (min-width: "+$screen-large+") and (max-width: "+($screen-4k - 1px)+")";
$only-small            : $media+" and (min-width: "+$screen-small+") and (max-width: "+($screen-large - 1px)+")";
$only-tablet           : $media+" and (min-width: "+$screen-tablet+") and (max-width: "+($screen-small - 1px)+")";
$only-phone            : $media+" and (min-width: "+$screen-phone+") and (max-width: "+($screen-tablet - 1px)+")";
$only-phone-m          : $media+" and (min-width: "+$screen-phone-m+") and (max-width: "+($screen-phone - 1px)+")";
$only-phone-s          : $to-phone-s;

// Specific
$retina           : "(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)";


// Media query list to be used in other libraries
$media-queries-to   : ( large: $to-large, small: $to-small, tablet: $to-tablet, phone: $to-phone, phone-m: $to-phone-m, phone-s: $to-phone-s);
$media-queries-from : ( 4k: $from-4k, large: $from-large, small: $from-small, tablet: $from-tablet, phone: $from-phone, phone-m: $from-phone-m, phone-s: $from-phone-s);


// Social colors

$color-dribbble   : #ea4c89;
$color-facebook   : #3b5998;
$color-flickr     : #ff0084;
$color-googleplus : #dd4b39;
$color-instagram  : #d35400;
$color-linkedin   : #007bb6;
$color-pinterest  : #cb2027;
$color-tumblr     : #32506d;
$color-twitter    : #00aced;
$color-vimeo      : #1ab7ea;
$color-vine       : #00bf8f;
$color-youtube    : #bb0000;

// Paths

$font-path : '/assets/media/fonts';